h1 {
color: blue;
}
.header {
  background-color: pink;
  padding: 50px;
  text-align: center;
}
.column1 {
  background-color: orange;
  
}
.column2  {
  background-color: aqua;

}
.column3  {
  background-color: lightgreen;
  
}
