body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  font: .9em/1.2 Arial, Helvetica, sans-serif;
}

h1 {
color: blue;
}
.header {
  background-color: pink;
  padding: 50px;
  text-align: center;
}
.column1 {
  background-color: orange;
  width: 25%;
  float: left;
}
.column2  {
  background-color: aqua;
  width: 25%;
}
.column3  {
  background-color: lightgreen;
  width: 25%;
  float: inline-end;
}
.nav {
  display: block;
}
ul {
  list-style: none;
}
.links-list a {
  display: inline-block;
  margin-right: 0.625%;
  background-color: brown;
  border-bottom: 1px solid black;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
}
.links-list a:focus {
  background: blue
  border-bottom: 1px solid white;
}
.links-list a:hover {
  background-color: rgb(66, 28, 40);
  color: #fff;
}
.links-list a:active {
  background: yellow;
}
